<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=2">
</head>
<body>
    <nav id="navbar">
        <img src="{{ url_for('static', filename='img/images.jpg') }}" class = 'logo' >
        <ul id="navbar-items">
            <li class="navbar-item">
                <a href="{{ url_for('index') }}">Accueil</a>
            </li>
              <li class="navbar-item">
                <a href="{{ url_for('chatgpt') }}">CHAT GPT</a>
            </li>
            </li>
              <li class="navbar-item">
                <a href="{{ url_for('dalle') }}">DALLE</a>
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <h1></h1>
</body>
</html>
